extends layout
block content
  .container( ng-app = 'AppControl' , ng-controller = 'controllerApp')
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        .account-wall
          img.profile-img( src='http://cr0ybot.github.io/ingress-logos/enl.png', alt='')
          form.form-signin(name = 'formLogin', novalidate )
            .form-group.input-group.input-group-lg
              span.input-group-addon @
              input.form-control( ng-model = 'user.user', name = 'userName',
                placeholder = 'Usuario', type = 'text', autofocus = 'autofocus', required)
            .form-group
              input.form-control( ng-model = 'user.password', type = 'password',
              placeholder = 'Contraseña', required )
            .form-group
              button.btn.btn-lg.btn-primary.btn-block( ng-click = 'login()',
                ng-disabled = 'formLogin.$invalid' )
                | Iniciar sesión
              span.clearfix
block custom-scripts
  script( src = '/javascript/controller.js')