doctype 5
html
  head
    title Ingress Enligthened
    meta(charset='utf-8')
    block stylesheets
      link(href="http://getbootstrap.com/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
      link(href="/stylesheets/custom.css", rel="stylesheet", type="text/css")
    block custom-stylesheets
  body

  block content

  block scripts
    script( src = '//www.parsecdn.com/js/parse-1.2.18.min.js')
    script( src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js" )
    script( src = '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script( src = '//getbootstrap.com/dist/js/bootstrap.js')
      
  block custom-scripts
