doctype 5
html
  head
    title Ingress Enligthened v0.207
    meta(charset='utf-8')
    block stylesheets
      link(href="/stylesheets/bootstrap.css", rel="stylesheet", type="text/css")
      link(href="/stylesheets/custom.css", rel="stylesheet", type="text/css")
    block custom-stylesheets
  body(ng-app='general')
    include navBar
  block content

  block scripts
    script( src = '//www.parsecdn.com/js/parse-1.2.18.min.js')
    script( src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js" )
    script( src = '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script( src = '//getbootstrap.com/dist/js/bootstrap.js')
    script( src = '/javascript/ui-bootstrap-tpls-0.10.0.js')
    script( src = '/javascript/directiveValidations.js')
    script( src = '/javascript/generalApp.js')
    script( src = '/javascript/controller.js')
    script( src = '/javascript/navBarController.js')
    script( src = '/javascript/controllerAgent.js')
    script( src = '/javascript/controllerNewAgent.js')
    script( src = '/javascript/controllerView.js')
  block custom-scripts
