extends layout
block content
  .col-md-12(ng-controller='controllerNewAgent')
      h1.yellow Agregar nuevo Agente
      form(role='form')
        .form-group
          label Faction
          select.form-control(ng-model='agent.faction')
            //-Remplace with query for factions in Object
            option Enlightened
            option Resistance
        .form-group
          label Id del Agente (Id Agent)
          input.form-control(type='text', placeholder='Id del Agente',
            ng-model = 'agent.name')
        .form-group
          label Nombre del Agente (Name of Agent)
          input.form-control(type='text', placeholder='Nombre del Agente',
            ng-model = 'agent.completename')
        .form-group
          label Correo Eléctronico (Email address)
          input.form-control(type='email', placeholder='Enter email',
            ng-model = 'agent.email')
        .form-group
          label Nivel (Level)
          input.form-control(type='number', placeholder='1',ng-model = 'agent.level')
        .form-group
          label Zonas de juego (Ingress places)
          input.form-control(type='text', placeholder='Zonas de juego',
            ng-model = 'temp.zonas')
        .form-group
          label Cell (Cell's)
          input.form-control(type='text', placeholder='Cell',
            ng-model = 'temp.cell')
        .form-group
          label AP
          input.form-control(type='text', placeholder='AP',
            ng-model = 'agent.AP')
        .form-group
          label Teléfono (Phone Number)
          input.form-control(type='text', placeholder='Teléfono', 
            ng-model = 'agent.phone')
        .form-group
          label Contraseña (Password)
          input.form-control(type='text', placeholder='Contraseña',
            ng-model = 'tmp.passone')
        .form-group
          label Repetir Contraseña (Repeat Password)
          input.form-control(type='text', placeholder='Repetir contraseña',
           ng-model = 'tmp.passtwo')
        button.btn.btn-default(type='button', ng-click='addAgent()')
          | Agregar Agente